---
BasedOnStyle:  Google
---
Language:        JavaScript
AllowShortFunctionsOnASingleLine: None
---
Language:        Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Right
Standard: Cpp11
---
