node_modules/
recordings/
save/reboot.json
save/reboot-*.json
*.log
auth.js
save/guilds/*
save/users/*
save/hg/events/*
save/hgWebClients.json
save/webClients.json
save/rigged-counter.txt
save/pingHistory.json
save/shardsshardMaster.priv
save/shardsshardMaster.pub
config/shardMasterConfig.js
gApiCredentials*.json
