node_modules/
recordings/
save/reboot.json
save/reboot-*.json
*.log
auth.js
save/guilds/*
save/users/*
save/hgWebClients.json
save/webClients.json
save/rigged-counter.txt
save/pingHistory.json
gApiCredentials*.json
