node_modules/
recordings/
save/reboot.json.crypt
save/reboot-*.json.crypt
*.log
auth.js

save/guilds/*
save/users/*
save/shards/*
save/hg/events/*

save/hgWebClients.json
save/webClients.json
save/rigged-counter.txt
save/pingHistory.json
save/knownShards.json
save/patreonCreatorTokens.json
save/shardStatsHistory.json
save/hgWebClients.json.crypt
save/webClients.json.crypt
save/rigged-counter.txt.crypt
save/pingHistory.json.crypt
save/knownShards.json.crypt
save/patreonCreatorTokens.json.crypt
save/shardStatsHistory.json.crypt

config/shardMasterConfig.js
config/shard_*_config.json

gApiCredentials*.json
